html {
    scroll-behavior: smooth;
  }
  
  /* Hide elements with the class visually-hidden */
  .visually-hidden {
    display: none;
  }

  /* Define custom properties on the root element */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black); /* Set text-color to color-black */
  }
  
  /* Reset section-tagline and card-category color to color-primary */
  .section-tagline, .card-category {
    color: var(--color-primary);
  }
  
  /* Reset body and anchor color to text-color */
  body {
    color: var(--text-color);
  }
  
  a {
    color: var(--text-color);
  }
  
  